/* .cardImg {
    max-width: 100px;
    height: 180px;
    background: url("images/card-back.jpg") no-repeat;
    display: inline-block;
} */

.newClassForText{
    max-height: 293px;
    overflow: hidden;
}
.imgItem{
    max-width: 300px;
    max-height: 300px;
    min-width: 100px;
    min-width: 100px;
}