.cardImg {
    /* max-width: 100px; */
    max-height: 250px;
    /* background: url("images/card-back.jpg") no-repeat;
    display: inline-block; */
}

.newClassForText{
    max-height: 130px;
    overflow: hidden;
    font-size: 12px;
}
.imgItem{
    max-width: 300px;
    max-height: 300px;
    min-width: 100px;
    min-width: 100px;
}