.div-catalog-movie {
    height: 1050px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    justify-content: space-evenly;
    padding-inline: 15px;

}

.catalog-icon {
    font-size: 50px
}

.catalog-button {  
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 50px;
    margin-bottom: 20px;
}