div-viewItem{
    align-items: center;
}
.card-subtitle{
    padding:10px;
    text-align: left;
}

.imgView {
    /* max-width: 350px;
    height: 500px; */
    /*background: url("images/card-back.jpg") no-repeat;*/
    display: inline-block;

}

.card-view{
    margin-inline: 15%;
    align-items: center;
    padding-inline:6%;
    margin-bottom: 2%;
}

.card-view-header{
    font-size:30px;
    margin-top:3%;
    margin-bottom: 50px;
}

.view-trailer{
    font-size: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.view-par{
    color:aqua;
    font-size: 20px;
}
.view-text{
    text-align: left;
}

.view-btn{
    margin: 30px;
    display: flex;
    gap:20px;
    padding-inline:20px;
}
