.div-welcome-movie {
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    justify-content: space-evenly;
    padding-inline: 15px;
    margin-top: 15px;

}

.trailer-icon {
    font-size: 50px
}

.trailer-button {  
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 50px;
    margin-bottom: 20px;
}